# MotionHR Production Environment
DJANGO_SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=app.motionhr-eg.com,motionhr-eg.com,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://app.motionhr-eg.com,https://motionhr-eg.com
DJANGO_SECURE_SSL_REDIRECT=True

POSTGRES_DB=motionhr_db
POSTGRES_USER=motionhr_user
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

DEFAULT_FROM_EMAIL=info@jssolutions.com
SERVER_EMAIL=info@jssolutions.com
